{
  "CompileFlags": {
    "Add": [
      "-std=c++20",
      "-Wall",
      "-Wextra",
      "-Wpedantic",
      "-Wshadow",
      "-Wconversion",
      "-Wsign-conversion",
      "-Wnull-dereference",
      "-Wdouble-promotion",
      "-Wformat=2"
    ]
  },
  "Diagnostics": {
    "UnusedIncludes": "Strict",
    "ClangTidy": {
      "Add": [
        "bugprone-*",
        "cert-*",
        "cppcoreguidelines-*",
        "modernize-*",
        "performance-*",
        "portability-*",
        "readability-*",
        "misc-unused-return-value",
        "hicpp-*"
      ],
      "Remove": [
        "modernize-use-trailing-return-type",
        "readability-identifier-length",
        "cppcoreguidelines-avoid-magic-numbers",
        "cppcoreguidelines-pro-bounds-pointer-arithmetic",
        "readability-magic-numbers",
        "hicpp-avoid-magic-numbers",
        "modernize-use-nodiscard"
      ]
    }
  },
  "Index": {
    "Background": "Build",
    "StandardLibrary": true
  },
  "InlayHints": {
    "Enabled": true,
    "ParameterNames": true,
    "DeducedTypes": true
  },
  "Hover": {
    "ShowAKA": true
  },
  "Completion": {
    "AllScopes": true
  }
}
